body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas {
  display: block;
}

#menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  align-items: center;
  color: white;
  font-family: sans-serif;
}

.menu__text {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  justify-content: center;
}

#startBtn {
  z-index: 1;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;

  background-color: antiquewhite;
  filter: sepia(10);
}

.middle-space {
  display: none;
}

.player-controls {
  position: absolute;
  top: 10%;
  max-width: 70rem;
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu__player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  flex: 1;
}

.player__image {
  transform: rotate(180deg) scale(2);
}

.color__picker {
  display: flex;
  gap: 0.125rem;
}

.color__btn {
  width: 25px;
  height: 25px;
  border-radius: 0.125rem;
  border: 2px solid gray;
  cursor: pointer;
  transition: border-color 200ms ease-in-out;
}

.color__btn:hover,
.color__btn:focus-visible {
  border-color: white;
}

.color__btn[data-checked="true"] {
  border-color: white;
}

@media screen and (min-width: 720px) {
  #menu {
    flex-direction: row;
  }
  .middle-space {
    display: block;
    flex: 1;
  }
  .player-controls {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
  }
}
