:root {
  --btn-theme: #770d8f;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Pixelify Sans";
}

.border-span {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: white;
}

.top {
  top: -4px;
}
.bottom {
  bottom: -4px;
}

.left,
.right {
  width: 4px;
  top: 0;
  height: 100%;
}

.left {
  left: -4px;
}
.right {
  right: -4px;
}

.top,
.bottom {
  height: 4px;
  width: 100%;
  left: 0;
}

#canvas {
  display: block;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  align-items: center;
  color: white;
}

#menu {
  display: flex;
}

.std-heading {
  position: relative;
}
.std-heading::before,
.std-heading::after {
  content: "";
  position: absolute;

  height: 4px;

  background-color: var(--btn-theme);
}
.std-heading::after {
  left: 0;
  width: 30%;
  bottom: -7px;
}
.std-heading::before {
  right: 0;
  width: 10%;
}

.menu-text {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  justify-content: center;
}

.settings-menu {
  max-width: 45rem;

  width: 80%;
  height: 90%;
  backdrop-filter: blur(1rem);
  position: absolute;
  z-index: 10;

  display: none;
}

.settings-menu-contents {
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.close-btn:hover,
.close-btn:focus-visible {
  transform: translateY(3px);
}

.player-setting-article {
  margin-top: 3rem;
  text-align: center;
}
.settings-player-section {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.thrust-message {
  opacity: 0.6;
}

.setting-player-keys {
  display: inline-flex;

  align-items: flex-start;
  gap: 1rem;
}
.motion-keys {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.control-span {
  position: relative;
  font-size: 2rem;
  padding: 0rem 0.375rem;
  min-width: 20px;
  text-align: center;
}
.control-span-group {
  display: flex;
  gap: 1rem;
}

.instruction-item {
  display: flex;
  justify-content: space-between;
}

.secondary-btn {
  font-size: 1.5rem;
  padding: 0.675rem 1rem;
  cursor: pointer;
  background-color: transparent;

  border: none;
  color: white;
  font-family: "Pixelify Sans";
  position: relative;
  z-index: 1;
}

.secondary-btn:hover,
.secondary-btn:focus-visible {
  color: var(--btn-theme);
  transform: translateY(3px);
}
#startBtn {
  background-color: var(--btn-theme);
}
#resumeBtn {
  background-color: #deab14;
  position: relative;
}
.game-button {
  z-index: 1;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;

  border: none;
  color: white;
  font-family: "Pixelify Sans";
  position: relative;
}

.game-button:hover,
.game-button:focus-visible {
  transform: translateY(3px);
}

.middle-space {
  display: none;
  pointer-events: none;
  z-index: -1;
}

.player-controls {
  position: absolute;
  top: 10%;
  max-width: 70rem;
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  flex: 1;
}

.player-image {
  transform: rotate(180deg) scale(2);
}

.color-picker {
  display: flex;
  gap: 0.125rem;
}

.color-btn {
  width: 25px;
  height: 25px;
  border-radius: 0.125rem;
  border: 2px solid gray;
  cursor: pointer;
  transition: border-color 200ms ease-in-out;
}

.color-btn:hover,
.color-btn:focus-visible {
  border-color: white;
}

.color-btn[data-checked="true"] {
  border-color: white;
}

#esc-menu {
  display: none;
}

@media screen and (min-width: 720px) {
  #menu {
    flex-direction: row;
  }
  .middle-space {
    display: block;
    flex: 1;
  }
  .player-controls {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
  }
}
